<div class="container my-5">
    <h1 class="mb-3">Emp-Angular</h1>
    <table class="table" *ngIf="employeespro && employeespro.length > 0">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>department</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeespro">
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.salary }}</td>
                <td>{{ employee.department }}</td>
                <td><a [routerLink]="['employee','edit',employee.id]">Edit</a></td>

            </tr>
        </tbody>    
    </table>
    <p *ngIf="!employeespro || employeespro.length <= 0">No employee found</p>
</div>